---
import type { DayEntry } from '@/lib/days'
import { titleFromDayKey, slugFromDate } from '@/lib/dates'
import GithubDay from '@/components/GithubDay.astro'
import YTDay from '@/components/YTDay.astro'
import Post from './Post.astro'
import Tags from './Tags.astro'

interface Props {
  day: DayEntry
  renderTitle?: boolean
}

const { day, renderTitle = false } = Astro.props
const title = titleFromDayKey(day.dayKey)
const slug = slugFromDate(day.dayKey)
const tags = day.day?.data.tags
---

<article>
  <header>{
      renderTitle && (
        <h2>
          <a href={slug}>{title}</a>
        </h2>
      )
    }
    {
      tags && (
        <div class="tags not-content">
          <Tags {tags} />
        </div>
      )
    }</header>
  {day.github && <GithubDay day={day.github} />}
  {day.youtube && <YTDay day={day.youtube} sort={['🏃‍♂️']} />}
  {day.posts?.map((post) => <Post {post} />)}
</article>

<style>
  /* :not(:empty) doesn't work when an element contains whitespace */
  header:has(*) {
    padding-bottom: 0.3rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px var(--sl-color-gray-5);

    &:not(:has(h2)) .tags {
      margin-top: -.5rem;
    }
  }
  h2 a {
    text-decoration: none;
  }
  article:not(:first-of-type) {
    margin-top: 5rem;
  }
  article :global(h3) {
    font-size: var(--sl-text-h4);
  }
  .tags {
    margin-block: 0.3em;
  }
</style>
