---
import { Day } from '@/lib/days'
import { titleFromDay, slugFromDay } from '@/lib/dates'
import GithubDay from '@/components/GithubDay.astro'
import YTDay from '@/components/YTDay.astro'
import Post from './Post.astro'
// import Excerpt from './Excerpt.astro'
import Tags from './Tags.astro'

interface Props {
  day: Day
  renderTitle?: boolean
}

const { day, renderTitle = false } = Astro.props
const title = titleFromDay(day.key)
const slug = slugFromDay(day.key)
const tags = day.meta?.data.tags
---

<article>
  <header>{
      renderTitle && (
        <h2>
          <a href={slug}>{title}</a>
        </h2>
      )
    }
    {
      tags && (
        <div class="tags not-content">
          <Tags {tags} />
        </div>
      )
    }</header>
  {day.posts.map((post) => <Post {post} />)}
  {day.commits.length > 0 && <GithubDay day={day.commits} />}
  {day.youtube.length > 0 && <YTDay day={day.youtube} sort={['🏃‍♂️']} />}
</article>

<style>
  /* :not(:empty) doesn't work when an element contains whitespace */
  header:has(*) {
    padding-bottom: 0.3rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px var(--sl-color-gray-5);

    &:not(:has(h2)) .tags {
      margin-top: -.5rem;
    }
  }
  h2 a {
    text-decoration: none;
  }
  article:not(:first-of-type) {
    margin-top: 5rem;
  }
  article :global(h3) {
    font-size: var(--sl-text-h4);
  }
  article > :global(article) {
    margin-block: 2em;
  }
  .tags {
    margin-block: 0.3em;
  }
</style>
